<!--When the user doens't know his password and so wants to reset it, by getting an email with instructions to do so-->

{% extends "user_experience/base.html" %}

{% block title %}
    <title>Password Reset Complete</title>
{% endblock title %}

{% block content %}

<h1>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</h1>
<a href="{% url 'home' %}">Return to home page</a>

{% endblock content %}